@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-8" style="width: 70%">
                <h1 class="display-4">Velkommen</h1>
                <h4>Træk dit billede ind på denne skærm, eller tryk "Gennemse" for at komme igang.</h4>
                
                <div style="width: auto; margin-left: auto; margin-right: auto; margin-top: 10%">
                    <form method="post" enctype="multipart/form-data" asp-controller="Operations" asp-action="UploadFile">
                        @{
                            if (ViewBag.error == true)
                            {
                                <div class="alert alert-warning">
                                    <strong>Fejl!</strong> Der skete en fejl ved indlæsning af din DCM-fil..
                                    <ol>
                                        <li>Tjek at din DCM-fil ikke er korrupt</li>
                                        <li>Tjek at din DCM-fil bruger 16-bit gråtoner</li>
                                    </ol>
                                    Hvis dette er tjekket, og det stadig ikke virker, venligst kontakt os for fejlfinding.
                                </div>
                            }
                        }
                        <div class="file-upload-wrapper">
                            <input data-height="500" type="file" name="files" accept=".dcm">
                        </div>
                        <br></br>
                        <button type="submit" class="btn btn-primary btn-lg btn-block">Videre: Marker knuden</button>
                    </form>
                </div>
            </div>
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <img src="~/mammography.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>