<?xml version="1.0"  encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="trainingSetCsvPath" value="D:\Bryster2\mass_case_description_train_set.csv"/>
        <add key="testSetCsvPath" value="c:\Bryster\mass_case_description_test_set.csv"/>
        <add key="contrastThreshold" value="2.0"/>
        <add key="doNormalizing" value="true"/>
        <add key="doContrast" value="true"/>
        <add key="doRemoveBreastMuscle" value="true"/>
        <add key="safeDistanceCropFromMask" value="100"/> 
        <add key="SizeImageToAnalyze" value="100"/> 
    </appSettings>
</configuration>