<?xml version="1.0"  encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="trainingSetCsvPath" value="E:/BrysterTraining/mass_trainingset.csv"/>
        <add key="testSetCsvPath" value="E:/BrysterTest/mass_testset.csv"/>
        <add key="contrastThreshold" value="2.0"/>
        <add key="doNormalizing" value="true"/>
        <add key="doContrast" value="true"/>
        <add key="doRemoveBreastMuscle" value="true"/>
        <add key="safeDistanceCropFromMask" value="100"/>
    </appSettings>
</configuration>