@model object

@{
    ViewBag.Title = "Vælg knude";
    Layout = "_Layout";
}
<script type="text/javascript">
    var imgSrc = "/analyze/showPng/@ViewBag.FileName";
</script>
<script src="~/js/selectRegion.js"></script>

<h2>Vælg et område med knuden, som algoritmen skal analysere</h2>
<canvas id="canvas" style="width: 100%" class="2center"></canvas>

<h1 style="text-align: center"class="center">Koordinater: @ViewBag.Derp</h1>
<h3 style="text-align: center"class="center"id="CoordinatesH3">Ikke defineret, vælg et område</h3>
<form method="post" enctype="multipart/form-data" asp-controller="Analyze" asp-action="StartAnalyzing">
    <input type="hidden" name="x1" id="x1Input"/>
    <input type="hidden" name="y1" id="y1Input"/>
    <input type="hidden" name="x2" id="x2Input"/>
    <input type="hidden" name="y2" id="y2Input"/>
    <input type="hidden" name="filePath" value="@ViewBag.FileName"/>
    <br></br>
    <button type="submit" class="btn btn-primary btn-lg btn-block" id="submitInput" disabled>Videre: Foretag analyse</button>
</form>