@model object

@{
    ViewBag.Title = "Resultater";
    Layout = "_Layout";
}

<h2 class="center">Klassificering: @ViewBag.Classification</h2>
<h4 class="center">Sikkerhed: @ViewBag.Probability%</h4>
<img class="center" src="@ViewBag.PcaInputPath"/>