@model object

@{
    ViewBag.Title = "Resultater";
    Layout = "_Layout";
}

<h2 class="center">Klassificering: @ViewBag.Classification</h2>
<h4 class="center">Sikkerhed: @ViewBag.Probability%</h4>

<br/><img class="center" src="@Url.Action("ShowPngFromTempPath","Analyze")/@ViewBag.CroppedImgSrc" alt="The cropped image by your selection"/>
<br/><img class="center" src="@Url.Action("ShowPngFromTempPath","Analyze")/@ViewBag.ContrastImgSrc" alt="The image with contrast applied"/>