@{
    ViewBag.Title = "Resultater";
    Layout = "_Layout";
}

<h2 class="center">Klassificering: @ViewBag.Analysis.Diagnosis</h2>
<h4 class="center">Sikkerhed: @(Math.Round(ViewBag.Analysis.Certainty,2))%</h4>

<br/><img class="center" src="@Url.Action("ShowSavedPng","Operations", new{ path = ViewBag.Analysis.Id.ToString()+"-cropped"})" alt="The cropped image by your selection"/>
<br/><img class="center" src="@Url.Action("ShowSavedPng","Operations", new{ path = ViewBag.Analysis.Id.ToString()+"-croppedContrast"})"  alt="The image with contrast applied"/>