@model object

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<script type="text/javascript">
    var FileLoc = "@ViewBag.ImageId";
</script>
<h2 style="margin-bottom:2em">Vent venligst mens Mark analyserer billedet..</h2>
<div class="spinner-border center" role="status" style="animation-duration: 2.6s; width: 500px; height: 500px; background-image: url('https://images-na.ssl-images-amazon.com/images/I/41q1QAln%2BQL.jpg'); background-size: contain">
    <span class="sr-only">Loading...</span>
</div>
<div class="result"></div>
<script src="~/js/loadingAnalysis.js" asp-append-version="true"></script>